* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lab Grotesque', sans-serif;
  line-height: 24px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #e2f3ff 0%, #bec0db 100%);
}